<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real time forum</title>
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>
<body>
    <div id="app">
        <h1>Welcome</h1>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" required>
            <br>
            <button class="button" type="submit">Login</button>
        </form>
        <a href="/register">Go to Register</a>
    </div>

    <script src="static/main.js"></script>
    <script src="static/registration.js"></script>
    <script src="static/login.js"></script>
    <script src="static/feed.js"></script>
    <script src="static/post.js"></script>
    <script src="static/comment.js"></script>
    <script src="static/messages.js"></script>
    <script src="static/websocketMessaging.js"></script>
    <script>
    // Function to handle navigation
    function navigateTo(url) {
      window.history.pushState(null, null, url);
      renderComponent();
    }

    // Render the component based on the current route
    function renderComponent() {
      const path = window.location.pathname;
      const appDiv = document.getElementById('app');

      if (path === '/register') {
        // Render the registration form component
        const registerForm = new RegisterForm();
        appDiv.innerHTML = '';
        appDiv.appendChild(registerForm.render());
      } else {
        // Render other components based on the route
        // ...
      }
    }

    // Event listener for popstate event (browser back/forward buttons)
    window.addEventListener('popstate', () => {
      renderComponent();
    });

    // Initial rendering of the component
    document.addEventListener('DOMContentLoaded', () => {
      renderComponent();
    });
</script>

</body>
</html>
