<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real time forum</title>
   
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    
   
</head>
<body>
    <div id="app">
        <h1>Welcome to the Index Page</h1>
    </div>

    
    <script src="static/registration.js"></script>
    <script src="static/login.js"></script>
    <script src="static/feed.js"></script>
    <script src="static/post.js"></script>
    <script src="static/comment.js"></script>
    <script src="static/messages.js"></script>
    <script src="static/main.js"></script>

   
</body>
</html>
