<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>Registration Form</h1>
    <form id="registration-form" method="POST" action="/register">
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname"><br><br>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age"><br><br>
        
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender"><br><br>
        
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br><br>
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName"><br><br>
        
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Register">
    </form>


    <div id="success-message" style="display: none;">
        <p>Registration successful!</p>
        <p>Please login to continue.</p>
        <!-- <button onclick="redirectToLogin()">Go to Login Page</button> -->
    </div>

<button onclick="goToLogin()">Login</button>

    <script>
        // JavaScript code for handling form submission
        document.getElementById("registration-form").addEventListener("submit", function(event) {
            event.preventDefault();
            registerUser();
        });

        function registerUser() {
            var form = document.getElementById("registration-form");
            var data = {
                nickname: form.nickname.value,
                age: parseInt(form.age.value),
                gender: form.gender.value,
                firstName: form.firstName.value,
                lastName: form.lastName.value,
                email: form.email.value,
                password: form.password.value
            };

            fetch("/register", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(function(response) {
                if (response.ok) {
                    console.log("Registration successful");
                    showSuccessMessage();
                    // Redirect to a success page or perform other actions
                } else {
                    console.error("Registration failed");
                    // Handle registration failure
                }
            })
            .catch(function(error) {
                console.error("Registration failed", error);
                // Handle registration failure
            });
        }
        function showSuccessMessage() {
            var form = document.getElementById("registration-form");
            var successMessage = document.getElementById("success-message");

            form.style.display = "none";
            successMessage.style.display = "block";
        }

        // function redirectToLogin() {
        //     window.location.href = "/login";
        // }

        function goToLogin() {
            // Redirect to the login page
            window.location.href = "/login";
        }

    </script>
</body>
</html>
